extends ../layout
include ../mixins/book-table

block content
    div
        span.h1.me-2 Ma collection
        span.h3 (#{books.filter(b => b.isRead).length} lus sur #{books.length})

    .row
        .col-1
            a(href=`/books`).btn.btn-light
                i.bi.bi-arrow-repeat
        .col
            a(href='/books/upload').btn.btn-light.me-5 Mettre à jour
            a(href='/books/complete').btn.btn-light Compléter les Series

    +book-table(books)

