doctype html
html
  head
    title Warene - #{title}
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href="/") Warene
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href="/") Accueil
            if isAuthenticated
              li.nav-item
                a.nav-link(href='/books/own') Mes bds
              li.nav-item
                a.nav-link(href='/series') Collections
              li.nav-item
                a.nav-link(href='/books/all') Tout le catalogue
              li.nav-item
                a.nav-link(href='/jobs') Processus
              li.nav-item
                a.nav-link(href='/auth/logout') Se deconnecter
            else
              li.nav-item
                a.nav-link(href='/auth/login') Se connecter


    .container
      if flash && flash.length > 0
          each message in flash
            div.alert(class=`alert-${message.type}`) #{message.title}
      block content
    block foot
      div 2022 - @crunchyArtie
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
